

<div class="center jumbotron">
  <h1>DA Book Exchange</h1>
  <% if !logged_in? %>
  <h2>
    <font color="ff3399">Tired of selling back your 150 dollar books for ten bucks?</font><br><br>
    <font color = "ffff99">Did you buy books for a class you ended up dropping?</font><br><br>
    <font color ="99ff99">Want to sell to someone who needs your books right away?</font><br><br>
  </h2>
  <% else %>
  <h2>
    Welcome!
  </h2>
  <%end%>
  <% if !logged_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <%else%>
    <%= link_to "Go to Books", posts_path, class: "btn btn-lg btn-primary cool-btn" %>
  <%end%>
</div>

