<% provide(:title,"Home") %>

<div class="center jumbotron">
  <h1>dank memes</h1>

  <h2>
    Hello, my dude
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

