<% provide(:title, @user.name) %>
<div class = "row">
  <aside class = "col-md-4">
    <section class = "user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  
  <div class="col-md-8" align="center">
    <% if @user.posts.any? %>
      <h3>Available Books (<%= @user.posts.count %>)</h3>
      <ul style="list-style-type:none">
        <%= render @user.posts %>
      </ul>
    <% end %>
  </div>
</div>