<% provide(:title,"Edit Listing") %>
<%if @post.user_id == current_user.id %>
    <h1>Edit Listing</h1>
    <%= render 'form'%>
<%else%>
    <div align="center">
    <h3>You cannot edit this post.
    <br>
    <br>
    <%= link_to "Back to books", posts_path %>
    </h3>
    </div>
<%end%>